html {
  box-sizing: " border-box";
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #171321;
  color: #f7f8fa;
  font-size: 1.3rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#55c0ec, #4464ed);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
