form {
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #07eeee, #084bdd);
  border-radius: 15px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}
form h1 {
  text-align: center;
  color: #0b19d8c1;
}
.form-repo,
fieldset {
  margin-bottom: 1rem;
}
.form-repo.margin {
  margin-bottom: 1rem;
  width: 100%;
}

.form-repo label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: #0b19d8c1;
  text-transform: uppercase;
  font-weight: bold;
}

.form-repo input,
.form-repo select {
  display: block;
  width: 100%;
  max-width: 50rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #b2e6f1;
  color: #4046f3;
}

.repo-row {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.repo-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #2620d5;
  color: #d9e2f1;
  cursor: pointer;
}

.button:disabled {
  background-color: #d8dee9de;
  color: #417feaa6;
  cursor: not-allowed;
}
